vendor/
node_modules/
.env
.env.*
.git
storage/logs/
storage/framework/cache/data/
storage/framework/sessions/
storage/framework/views/
bootstrap/cache/
.idea/
.vscode/
tests/
docker-compose.override.yml
npm-debug.log
yarn-error.log
